/*
	This overrides the scroll-margin applied to all rows. Some galleries shift to a height of 100vh and snap to the top of the page, and scroll-margin interferes with that.
*/

.row--hasGallery {
	
	.Row__title {
		margin-left: auto;
		margin-right: auto;
		max-width: 48rem;
		display: block;
	}
	
	.Row [id] {
	    scroll-margin-top: 0;
	}
}