$breakpoints: (
	"small": 37.5em,
	"medium": 50em,
	"medium-large": 64em,
	"large": 70em,
	"extra-large": 1290px,
);

$sansSerif: "Source Sans Variable","acumin-pro",Arial,Helvetica;

/*	Colors
	====== */


$cream: #FFF8EF;
$cream-for-borders: #e8d3b8;

$burgundy-dark: #641A2B;
$burgundy-light: #951829;
$burgundy-xlight: #f5f0f0;

$gold: #C6AA76;

$red: #ED1C24;
$rowContainer: ".RowContainer";

$charcoal-warm: #242222;
$charcoal-warm-text: #bdadad;

$gray-warm-xlight: #efeaea;
$gray-warm-xxlight: #f7f5f5;

$gray-cool: #63666A;

$grad-burgundy-red: linear-gradient(135deg, #641A2B 0%, $red 70%);
$grad-red-gold: linear-gradient(135deg, $red 0%, $gold 70%);



/*	Specific uses
	-------------

	The idea: some colors, in addition to being generic shades, also work best for certain circumstances. Using these variables instead of the actual color variable means:
	- the design is more consistently applied (say, one hover color for all buttons of type X, instead of different ones
	- it's more maintainable (if we realize that's not a good color, we can change it across the board)	
*/

//	This shade works best for hoverable elements that have a white background
$whiteArea-hover-bg: $gray-warm-xlight;











































