.PageNavContainer .Row {
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.2);
}
.PageNavContainer {
	top: -1px;
}

/* this needs to be here for pages with subnav */
.Row h2 { scroll-margin-top: 2em !important; }