/*
.RowContainer[class*='theme-'] {
    padding: 2em 0;
}
*/

.NavSite .u-NavSite__level.u-NavSite__level--1 {
	 max-width: 64em;
	 margin: 0 auto;
	 border-bottom: 1px solid #ddd;
	 margin-bottom: 0.7em;
	 padding-bottom: 0.7em;
}
 .Row__title {
	 max-width: 48rem;
	 margin: 0 auto;
	 width: 100%;
	scroll-margin-top: 2em;
}

.u-lContent {
	 position: relative;
}
.u-pageTitle {
	 margin-top: 0.4em;
	 margin-bottom: 0.2em;
	 padding: 0;
}


/*	Hacks
	===== */

b.masthead__smallAnd {
    font-size: .5em;
    opacity: .6;
    text-transform: lowercase;
    display: block;
    padding: .3em;
}
.u-Masthead--academic .u-Masthead__siteName--link {
	@include break(medium) {
		//	had to do this since the longer title on Summer Institute was forcing it to wrap
		flex-wrap: unset;
	}
}


/*	Banner captions */

 .banner-caption {
	 line-height: 1.3;
	 display: inline-block;
	 font-weight: normal;
	 font-size: 80%;
}
 .banner-caption .banner-caption__label {
	 text-transform: uppercase;
	 margin-right: 0.4em;
	 font-size: 94%;
}
 .banner-credit {
	 display: block;
	 font-size: 90%;
	 opacity: 0.6;
	 font-weight: normal;
	 line-height: 1.2;
	 margin-top: 0.4em;
}
 @media screen and (min-width: 1290px) {
	 .banner-caption {
		 font-size: 76%;
	}
	 .row--banner-caption {
		 padding: 0;
		 position: absolute;
		 right: 0;
		 top: 0;
		 width: calc(((100vw - 48rem) / 2) - 1em);
		 padding: 1em;
		 background: #f7f5f5;
	}
}


/*	Template-specific animations
	============================ */
	
.animate-onload, .top-75pfrom-topOfWindow {
	 -webkit-animation-delay: 0s;
	 animation-delay: 0s;
	 -webkit-animation-duration: 1s;
	 animation-duration: 1s;
	 -webkit-animation-fill-mode: forwards;
	 animation-fill-mode: forwards;
	 -webkit-animation-name: zoom-in;
	 animation-name: zoom-in;
}

