.u-folderBios {
	
	.RowContainer {
		padding: 0;
	}
	.Row {
		max-width: none;
	}

	h1, h2, h3 {
	    max-width: 40rem;
	    margin-left: auto;
	    margin-right: auto;
	}
	h3 {
		@extend h2;
		@extend .Row__title;

		max-width: none !important;
		margin-bottom: 0 !important;
		margin-top: 1em !important;
		
		&:after {
			display: none;
		}
	}
	.u-lContent {
		padding-bottom: 4em;

		h1, h3 {
		    text-align: center;
		}
	}
}
