/*	Colors
	====== */
.center-title.RowContainer .Row__title {
  margin: 0 auto;
  text-align: center; }
  .center-title.RowContainer .Row__title:after {
    left: calc(50% - 1.5em); }

.hide-accessibly {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

/*	Helper classes may be written differently depending on what they're applied to, but they should always have the same classname.	*/
/*	For rows
	======== */
.RowContainer.width-xwide .Row {
  max-width: 58em; }

.button {
  text-decoration: none !important;
  background: #eee;
  color: #444;
  display: inline-block;
  padding: 0.1em 0.4em;
  border-radius: 0.3em; }

.button--small {
  font-size: 76%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 0.2em 0.4em 0.1em 0.4em; }

.button.theme-burgundy-red {
  background: linear-gradient(135deg, #641A2B 0%, #ed1c24 70%);
  color: #fff; }

.button.style-wireframe {
  background: transparent;
  border: 1px solid #000;
  border-color: var(--border-color, #000);
  color: #000; }
  .button.style-wireframe.theme-cream {
    --border-color: #e8d3b8; }

.schedule-item {
  /*	Layout
		------ */
  /*	Typography
		---------- */
  font-size: 90%;
  line-height: 1.3;
  /*	Theme
		----- */ }
  .schedule-item *:last-child,
  .schedule-item *:only-child {
    margin: 0; }
  @media screen and (min-width: 30em) {
    .schedule-item {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1em; } }

.schedule-item {
  margin-top: 0.4em;
  border-top: 1px solid #aaa;
  border-color: var(--item-rule-border-color);
  padding-top: 0.4em; }

.theme-cream {
  background: #FFF8EF;
  --item-rule-border-color: #e8d3b8; }

.RowContainer[class*='theme-'] {
  padding: 2em 0; }
