
/*	Helper classes may be written differently depending on what they're applied to, but they should always have the same classname.	*/



.width\:half {
	@include break(medium) {
		width: 50%;
	}
}

.place\:right {
	@include break(medium) {
	  float: right;
	  margin: 0 0 2em 2em;
  }
}

.place\:left {
	@include break(medium) {

  float: left;
	}
}

.indent\:left {
	@include break(medium) {

  margin-left: -10%;
  }
}

.indent\:right {
		@include break(medium) {

  margin-right: -10%;
  }
}



/*	For figures
	=========== */

figure.width-wide {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	transform: translateX(calc(50vw - 50%));
	width: 44em;
}



/*	For rows
	======== */

.Row {
	.RowContainer.width-xwide & {
	    max-width: 58em;
	}
}

.RowContainer.width-wide .Row {
	 max-width: 44em;
}
 .RowContainer.width-wider .Row {
	 max-width: 54em;
}
.RowContainer.width-full {
	padding: 0;

	.Row {
		max-width: none;
	}
}
