.animate-onload, .top-75pfrom-topOfWindow {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-name: zoom-in;
	animation-name: zoom-in;
}