
/*
	This needs some organization.
*/


.grid--cols-2 {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 grid-gap: 2em;
}
.row--four-cols {
	.Module--halfWidth {
		 display: grid;
		 grid-template-columns: 1fr 1fr;
		 grid-gap: 2em;
	}
	.Row.Row--col2 {
		 max-width: none;
	}
}
 .RowContainer.row--four-cols {
	 padding: 4em;
	 background: #222;
}
 .row--large-grid .Row {
	 max-width: none;
	 
	 @include break(medium) {
		 display: grid;
		 grid-template-columns: 1fr 1fr;
		 grid-gap: 2em;
	 
		 .Row__title {
			 grid-column: 1/3;
		 }
	 }
}
