.u-BioList--contacts {
	.Contact__nameLink {
		border: none;
		font-family: freight-big-pro;
		font-size: 2.2em;
		font-weight: normal;
		letter-spacing: -0.01em;
		text-decoration: none !important;
	}
}